@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @responsive {
      .block {
        display: block;
      }
      .inline-block {
        display: inline-block;
      }
      .inline {
        display: inline;
      }
      .flex {
        display: flex;
      }
      .inline-flex {
        display: inline-flex;
      }
      .flow-root {
        display: flow-root;
      }
      .grid {
        display: grid;
      }
      .inline-grid {
        display: inline-grid;
      }
      .contents {
        display: contents;
      }
      .hidden {
        display: none;
      }
      .table{
        display:block;
      }
    }
  }