@use '../../_css/queries.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: 30px;
  padding: 0;
  overflow: scroll;
  width:100%;

  @include small-break {
    display: grid;
    grid-template-columns: 1fr;
  }
}
